*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: normal;
    font-weight: lighter;
    --bs-btn-hover: #ffc107;
    --bs-btn-color-hover: #fff;
}
.bgColorGreen{
     background-color: #28a745; 
     
}

.imgCupon{
    width: 6rem;
}
.btn-enviar{
    --bs-btn-bg:#F8F9FA;
    --bs-btn-font-family: 'Roboto';
    --bs-btn-font-size: 16pt;
}

.btn-enviar:hover{
    background-color:var(--bs-btn-hover);
    --bs-btn-font-family: 'Roboto';
    --bs-btn-font-size: 16pt;
    color:var(--bs-btn-color-hover);
}

.p-form{
    color: #fff;
    font-family: 'Roboto';
    font-size: 21pt;
    font-weight: 300;
}


.pText{
    font-size: 11pt;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #707070;
    
}

.cardTitle{
    font-size: 20pt;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #212529;
}
.pHotel{
    font-size: 10pt;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #707070;
    margin: 0;
}

.pFooter{
    font-size: 15pt;
    font-family: 'Roboto';
    font-weight: lighter;
    color: #707070;
}
.pPrecio{
    font-size: 18pt;
    font-family: 'Roboto';
    font-weight: bold;
    color: #28a745;
    margin: 0;
}

